h1 {
text-align: center;
font-family: Oswald;
letter-spacing: 0.12rem;
font-style: normal;
color: #660033;
font-size: 50px
}
.container{
	height: 100%;
	text-align: center;
	color: #660033;
}
body{
	background-color: #66b3ff;
}
img{
	border-radius:50%;
}
p {
font-family: 'Raleway', sans-serif;
color: #660033;
}

div {
	font-size: 12px;
}
h3 {
	font-size: 50px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: -.08rem;
	color: #660033;
}
p {
text-align: center;
color: #660033;
}
